body {
  background-color: #0f172a;
  color: rgb(48, 48, 48);
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.main-container {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 6px solid #334155;
  border-radius: 20px;
  height: 85vh;
  width:45%;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
}

.picker-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border-radius: 10px;
  padding: 2rem;
  width: 60%;
  gap: 0.9em;
}

.colors-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border-radius: 10px;
  padding: 2rem;
  width: 100%;
  height: 65%;
}

.color-box {
  width: 100%;
  height: 100%;
  background-color: rgb(0, 153, 255);
}

.color-codes-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  border-radius: 10px;
  width: 100%;
  height: 5%;
  margin-bottom: 1em;
}

.color-code {
  width: 100%;
  height: 100%;
  
  display: flex;
  align-items: center;
  justify-content: center;
}

.color-code-text {
  font-weight: 600;
  cursor: default;
}

h1 {
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 1rem;
  cursor: default;
}

#get-color-scheme-btn {
  background-color: #ffffff;
  color: rgb(41, 41, 41);
  border: 1px solid #d8d8d8;
  border-radius: 8px;
  cursor: pointer;
  padding: 8.5px 8px;
}

#color-scheme-dropdown {
  padding: 15px 8px;
  color: rgb(41, 41, 41);
  border: 1px solid #d8d8d8;
  border-radius: 8px;
  width: 100%;
}

#color-picker {
  height: 100%;
  width: 20%;
  color: rgb(41, 41, 41);
  border: 0px solid #d8d8d8;
  border-radius: 4px;
}
