/**
Palette: https://scrimba.com/links/hometown-palette
RED: #E63946
LIGHT: #F1FAEE
AQUA: #A8DADC
LIGHT BLUE: #457B9D
DARK BLUE: #1D3557

*/

body {
    margin: 0;
    text-align: center;
}

img {
    width: 100px;
}

.hero {
    background-image: url("images/tower.jpg");
    background-size: cover; 
    background-repeat: no-repeat; 
    background-position: center;
    height: 700px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title {
    background-color: #3a5a40;
    width: 200px;
    border-radius: 10px;
    color: white;
    cursor: default;
    transition: transform 0.3s ease-in-out;
}

.title:hover {
    transform: translateY(-15px); /* Moves the element 10px up */
    transition: transform 0.5s ease-in-out; /* Smooth transition over 0.3 seconds */
}

.desc {
    margin: 0;
    background-color: #a3b18a ;
    color: white;
    border-radius: 10px;
    width: 500px;
    padding: 5px 0px;
    cursor: default;
    transition: transform 0.3s ease-in-out;
}

.desc:hover {
    transform: translateY(15px); /* Moves the element 10px up */
    transition: transform 0.5s ease-in-out; /* Smooth transition over 0.3 seconds */
}

.activites{
    background-color: #beccb9;
    height: 500px;
    text-align: center;
}

.activites-imgs {
    display: flex;
    justify-content: center;
    align-items: center;
}
