/* General */

* {
    margin: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #383838;
    font-family: 'Arial', sans-serif;
}

/* Containers */
.container {
    width: 490px;
    height: 900px;
    background-color: white;
    border-radius: 30px;
    box-shadow: 0 20px 20px rgba(0, 0, 0, 0.15);
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

#menu {
    display: flex;
    flex-direction: column;
}

.menu-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
    border-bottom: 1px solid #ddd;
    margin-top: 1.5em;
    margin-left: 1.8em;
    margin-right: 1.8em;
    padding-bottom: 2em;
}

.order-menu {
    margin-left: 1.8em;
    margin-right: 1.8em;
}

.added-items {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  .item-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }

  .item-name-section {
    display: flex;
    align-items: center;
    flex-grow: 1; 
  }
  
  .item-row button { 
    margin-left: 0.5em;
    color: rgb(179, 179, 179);
    border: none;
    background-color: transparent;
    cursor: pointer;
  }



/* Banner */
.banner-image {
    width: 100%;
    height: 17%;
    object-fit: cover;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
}


/* Typography */

.order-title {
    text-align: center;
    margin-top: 1.5em;
    margin-bottom: 1em;
    font-size: 1.1rem;
}

.order-total-price {
    border-top: 2px solid #333;
    margin: 1.2em 0;
    padding-top: 1em;
}

.item-info {
    display: flex;
    align-items: center;
    gap: 0.8em; 
}

.item-emoji {
    font-size: 4rem;
}

.item-text {
    display: flex;
    flex-direction: column;
}

.item-name {
    font-size: 1.2rem;
    font-weight: bold;
    color: #333;
}

.item-ingredients {
    font-size: 0.9rem;
    color: gray;
    margin-top: 1px;
}

.item-price {
    font-size: 1rem;
    font-weight: bold;
    margin-top: 15px;
}

/* Buttons */
#increment-btn {
    font-size: 1.5rem;
    border: 1px solid #ccc;
    background: none;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#increment-btn:hover {
    background-color: #f0f0f0;
}
