@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&display=swap');

/* General */

* {
    margin: 0;
}

body {
    font-family: 'Merriweather', serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #383838;
}

/* Containers */
.container {
    width: 490px;
    height: 900px;
    background-color: white;
    border-radius: 30px;
    box-shadow: 0 20px 20px rgba(0, 0, 0, 0.15);
    display: flex;
    flex-direction: column;
    overflow: hidden;
    border: 10px solid #161616;
}

#menu {
    display: flex;
    flex-direction: column;
}

.menu-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
    border-bottom: 1px solid #ddd;
    margin-top: 1em;
    margin-left: 1.8em;
    margin-right: 1.8em;
    padding-bottom: 2em;
}

#order-menu {
    margin-left: 1.8em;
    margin-right: 1.8em;
    visibility: hidden;
}

.added-items {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  .item-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }

  .item-name-section {
    display: flex;
    align-items: center;
    flex-grow: 1; 
  }
  
  .item-row button { 
    margin-left: 0.5em;
    color: rgb(179, 179, 179);
    border: none;
    background-color: transparent;
    cursor: pointer;
  }

  #card-details-modal {
    display: flex;
    flex-direction: column;
    width: 350px;
    height: 370px;
    align-items: center; 
    justify-content: center; 
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 40px 20px rgba(0, 0, 0, 0.5);
    z-index: 1000;
    visibility: hidden;
}

/* Form */

#card-details-modal form {
    display: flex;
    flex-direction: column;
    gap: 10px; 
    width: 100%;
}

#card-details-modal input,
#card-details-modal button {
    width: 100%; 
    padding: 10px;
    font-size: 16px;
}

#card-details-modal input {
    margin-bottom: 0.6em;
    padding: 1em;
}

#card-details-modal button {
    color: white;
    border-radius: 0.3em;
    margin-top: 1em;
    background-color: #15DB99;
    border: none;
    height: 3.2em;
    font-weight: 700;
    cursor: pointer;
}

/* Banner */
.banner-image {
    width: 100%;
    height: 17%;
    object-fit: cover;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}


/* Typography */

#card-details-modal h3 {
    margin-bottom: 2em;
    font-weight: 900;
}

.order-title {
    text-align: center;
    margin-top: 1.5em;
    margin-bottom: 1em;
    font-size: 1.1rem;
}

.total-price {
    border-top: 2px solid #383838;
    margin-top: 1em;
    padding-top: 1em;
}

.order-total-price {
    border-top: 2px solid #333;
    margin: 1.2em 0;
    padding-top: 1em;
}

.item-info {
    display: flex;
    align-items: center;
    gap: 1em; 
}

.item-emoji {
    font-size: 3.8rem;
}

.item-text {
    display: flex;
    flex-direction: column;
}

.item-name {
    font-size: 1.2rem;
    font-weight: bold;
    color: #333;
}

.item-ingredients {
    font-size: 0.9rem;
    color: gray;
    margin-top: 1px;
}

#thanks-msg {
    display: flex;
    color: #05523c;
    text-align: center;
    justify-content: center;
    align-items: center;
    background-color: #ECFDF5;
    margin-top: 2em;
    height: 90px;
    width: 430px;
    margin-left: auto;
    margin-right: auto;
    font-weight: 700;
    visibility: hidden;
}

.item-price {
    font-size: 1rem;
    font-weight: bold;
    margin-top: 15px;
}

/* Buttons */
.increment-btn {
    font-size: 1.5rem;
    border: 1px solid #ccc;
    background: none;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#increment-btn:hover {
    background-color: #f0f0f0;
}

.complete-order-btn {
    display: block;
    text-align: center;
    margin-top: 1.5em;
    width: 100%;
    height: 4em;
    color: white;
    background-color: #15DB99;
    border: none;
    cursor: pointer;
    font-weight: 900;
    border-radius: 0.3em;
}
